<!-- version 1.2.1 -->
<!DOCTYPE html>
<html>
<head>
	<title>authentication</title>

	<meta name="author" content="abolfazlsadeqi2001" />
	<meta name="description" content="login and register page of doker host" />
	<meta name="keywords" content="docker,docker host,docker host login,login,register,docker host register" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />

	<meta http-equiv="content-type" content="text/html" />
</head>
<body>
	<div class="error-container" th:text="${user.exceptionMessage}"></div>
	<!-- login form -->
	<form name="login-form" method="POST" accept-charset="ASCII" autocomplete="off" action="/login">
		<fieldset>
			<legend>Login</legend>
			<label for="telephone">telephone number:</label>
			<br>
			<input type="text" name="telephone" id="telephone" required="required" pattern="09[0-9]{9}" title="telephone number must start with 09(Iranina mobile)" />
			<br>
			<label for="password">password:</label> 
			<br> 
			<input type="password" name="password" id="password" required="required" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,12}$" title="password must include numbers and chars" /> 
			<br>
			<input type="submit" value="login" />
		</fieldset>
	</form>
	<!-- register form -->
	<form name="register-form" method="POST" accept-charset="ASCII" autocomplete="off" action="/register">
		<fieldset>
			<legend>Register</legend>
			<label for="name">name: </label>
			<br>
			<input type="text" name="name" id="name" required="required" pattern="[a-zA-Z0-9]{3,8}" title="just use the numbers and english chars.length must 3 at least" />
			<br>
			<label for="family">family: </label>
			<br>
			<input type="text" name="family" id="family" required="required" pattern="[a-zA-Z0-9]{3,8}" title="just use the numbers and english chars.length must 3 at least" />
			<br>
			<label for="age">age: </label>
			<br>
			<input type="number" name="age" id="age" required="required" min="7" max="71" title="minimum age is seven and maximum is 71" />
			<br>
			<label for="telephone">telephone number: </label>
			<br>
			<input type="text" name="telephone" id="telephone" required="required" pattern="09[0-9]{9}" title="telephone number must start with 09(Iranina mobile)" />
			<br>
			<label for="password">password:</label>
			<br>
			<input type="password" name="password" id="password" required="required" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,12}$" title="password must include numbers and chars" />
			<br>
			<input type="submit" value="register" />
		</fieldset>
	</form>
</body>
</html>