<!-- version 1.0.0 -->
<html>
	<head>
		<title>user panel</title>
	
		<meta name="author" content="abolfazlsadeqi2001" />
		<meta name="description" content="user panel" />
		<meta name="keywords" content="docker,docker host,docker host user panel" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />

		<meta http-equiv="content-type" content="text/html" />
	</head>
	<body>
		<!-- top navigation -->
		<nav class="main-nav">
			<!-- user name and family container -->
			<div class="user-name-container">
				<!-- name -->
				<span th:text="${user.name}"></span> 
				<!-- family -->
				<span th:text="${user.family}"></span>
			</div>
			<!-- money indicator -->
			<div class="user-money">
				<!-- money value -->
				<span th:text="${user.money}"></span>
				<!-- money mark -->
				<span>$</span>
			</div>
		</nav>
	</body>
</html>
